@import url("GameBase.uss");

.page-title {
    font-size: 64px;
    letter-spacing: 4px;
    color: rgb(255, 244, 231);
    -unity-font-style: normal;
    -unity-text-align: upper-center;
    -unity-font-definition: url("project://database/Assets/Fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf?fileID=12800000&guid=d04ff877a79f3a3428c55a0b7e81074d&type=3#CinzelDecorative-Bold");
    margin-bottom: 28px;
}

#Background {
    flex-grow: 1;
    background-image: url("project://database/Assets/ArtTemp/MainMenuRain_SplashScreen.png?fileID=2800000&guid=4ea27c0e54193374aa7a156950d4f87f&type=3#MainMenuRain_SplashScreen");
    position: absolute;
    width: 100%;
    height: 100%;
    -unity-background-scale-mode: scale-and-crop;
    opacity: 1;
    background-position-y: bottom 0;
}

.page-container {
    flex-grow: 1;
    padding-top: 80px;
    padding-right: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
    max-width: 1600px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.page-content {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.main-menu-stack {
    align-items: stretch;
    width: 320px;
}

.unity-base-field__input,
.unity-base-field__label,
.unity-text-element__selectable {
    cursor: var(--cursor-hover);
}
