.audio-container {
    width: 100%;
    max-width: 700px;
    -unity-font-definition: url("project://database/Assets/Fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf?fileID=12800000&guid=c1a1b2c3d4e5f60718293a4b5c6d7e80&type=3#MerriweatherSans-Regular");
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.unity-base-field {
    font-size: 18px;
    color: rgb(255, 244, 231);
    background-color: transparent;
    border-width: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.unity-toggle .unity-toggle__checkmark {
    background-color: transparent;
    border-color: rgb(202, 159, 108);
    width: 22px;
    height: 22px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    -unity-background-image-tint-color: rgb(253, 199, 135);
}

Toggle:hover .unity-toggle__checkmark {
    border-color: rgb(253, 199, 135);
}

Toggle:focus .unity-toggle__checkmark {
    border-color: rgb(255, 244, 231);
}

.unity-base-slider .unity-base-slider__tracker {
    background-color: rgb(1, 11, 31);
    border-width: 0;
}

.unity-base-slider__fill {
    background-color: rgb(202, 159, 108);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.unity-base-slider__dragger {
    background-color: rgb(253, 199, 135);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

SliderInt:hover .unity-base-slider__fill,
SliderInt:focus .unity-base-slider__fill {
    background-color: rgb(253, 199, 135);
}

SliderInt:hover .unity-base-slider__dragger,
SliderInt:focus .unity-base-slider__dragger {
    background-color: rgb(255, 244, 231);
}

.unity-base-popup-field__input,
.unity-base-text-field__input {
    font-size: 16px;
    color: rgb(255, 244, 231);
    background-color: rgba(0, 4, 10, 0.7);
    border-width: 2px;
    border-color: rgb(202, 159, 108);
    margin-left: 0;
    padding-top: 2px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 2px;
}

.unity-base-popup-field:hover .unity-base-popup-field__input,
.unity-base-text-field__input:hover {
    border-color: rgb(253, 199, 135);
}

.unity-base-popup-field:focus .unity-base-popup-field__input,
.unity-base-text-field:focus .unity-base-text-field__input {
    border-color: rgb(255, 244, 231);
}

.unity-base-text-field__input--placeholder {
    color: rgb(154, 161, 174);
}

.unity-base-popup-field__arrow {
    -unity-background-image-tint-color: rgb(253, 199, 135);
}

.unity-base-field__input,
.unity-base-field__label,
.unity-text-element__selectable,
.unity-base-slider__drag-container,
.unity-base-slider__fill,
.unity-base-slider__dragger,
.unity-base-popup-field__arrow,
.unity-base-popup-field__text {
    cursor: var(--cursor-hover);
}
