.form-join-game__panel {
    width: 420px;
}

.form-join-game__input {
    color: rgb(255, 244, 231);
    -unity-font-definition: url("project://database/Assets/Fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf?fileID=12800000&guid=c1a1b2c3d4e5f60718293a4b5c6d7e80&type=3#MerriweatherSans-Regular");
    cursor: var(--cursor-hover);
}

.form-join-game__input > #unity-text-input {
    background-color: rgba(0, 4, 10, 0.7);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-color: rgb(202, 159, 108);
    --unity-cursor-color: rgb(255, 244, 231);
    color: rgb(255, 244, 231);
}

.form-join-game__input > .unity-base-text-field__input--placeholder {
    color: rgb(154, 161, 174);
}

.unity-base-field__label {
    color: rgb(254, 221, 183);
    -unity-font-definition: url("project://database/Assets/Fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf?fileID=12800000&guid=c1a1b2c3d4e5f60718293a4b5c6d7e80&type=3#MerriweatherSans-Regular");
    margin-bottom: 4px;
}
